<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles.css') }}">
    <title>Мой профиль</title>

    <style>
        nav a {
            color: #333;
            margin: 0 10px;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <header>
        <h1>Мой профиль</h1>
    </header>
    <div class="container">
        <div class="profile-card">
            <img src="{{ url_for('static', filename='avatars/' + user.avatar) }}" alt="Avatar">
            <div class="profile-info">
                <p><strong>Логин:</strong> {{ user.login }}</p>
                <p><strong>Полное имя:</strong> {{ user.fullname }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>О себе:</strong> {{ user.about }}</p>
                <a href="{{ url_for('edit_profile') }}">Изменить</a>
                <br>
                <a href="{{ url_for('main') }}">На главную</a>
            </div>
        </div>

        <h2>Мои объявления</h2>
        <div class="ads-list">
            {% for ad in ads %}
            <div class="ads-card">
                <h3>{{ ad.title }}</h3>
                <p>{{ ad.content }}</p>
                <div class="ads-actions">
                    <a href="{{ url_for('edit_ad', ad_id=ad.id) }}" class="btn-edit">Изменить</a>
                    <form action="{{ url_for('delete_ad', ad_id=ad.id) }}" method="POST" style="display:inline;">
                        <button type="submit" class="btn-delete">Удалить</button>
                    </form>
                </div>
            </div>
            {% else %}
            <div class="no-ads">
                <p>Пока нет объявлений.</p>
            </div>
            {% endfor %}
        </div>
        <a href="{{ url_for('create_ad') }}" class="btn-create">Создать новое объявление</a>
    </div>
    <footer>
        <p>&copy; Cool Girls Campaign, 2025</p>
    </footer>
</body>

</html>